<div class="queue-tabs">
  {{#each toxins}}
  <input type="radio" name="queue-tabs" id="tab{{@index}}" {{#if @first}} checked="checked" {{/if}}>
  <label class="Main" for="tab{{@index}}">{{Formal}}</label>
  <div class="queue-tab">
    <div id="Analysis{{_id}}"></div>
    <div class="d-inline-flex justify-content-between w-100 mt-2">
      <div class="d-flex align-items-center">
        <div class="container-radio-kit-type" id="KitRadio{{_id}}" data-toxin="{{_id}}">
          <a class="mr-1"> Selecione o Kit:</a>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}A" value="A" />
          <label for="Kit{{_id}}A" class="radio-text form-check-label mr-3"> A </label>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}B" value="B" />
          <label for="Kit{{_id}}B" class="radio-text form-check-label mr-3"> B </label>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}C" value="C" />
          <label for="Kit{{_id}}C" class="radio-text form-check-label mr-3"> C </label>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}D" value="D" />
          <label for="Kit{{_id}}D" class="radio-text form-check-label mr-3"> D </label>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}E" value="E" />
          <label for="Kit{{_id}}E" class="radio-text form-check-label mr-3"> E </label>
          <input class="radio-queue center" type="radio" name="Kit{{_id}}" id="Kit{{_id}}F" value="F" />
          <label for="Kit{{_id}}F" class="radio-text form-check-label mr-3"> F </label>
        </div>
      </div>
    </div>

    <div id="hide{{_id}}" class="form-disabled">
      <div id="Workmap{{_id}}"></div>
      <div class="btns-kanban ">
        <div class="btn-print">
          <a href="/printtemplate" class="btn btn-success">Imprimir</a>
        </div>

        <div class="btn-scnd-print">
          <a href="/previousmap" class="btn btn-success ml-3">Mapa anterior</a>
        </div>

        <form action="/finalization/calibrators" class="ml-auto" method="post">
          <div class="btn-minus">
            <a href="/finalization/calibrators" class="btn btn-success">Finalizar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      let el = $("#Kit{{_id}}{{active}}");
      if (el) {
        $(el).prop("checked", true).trigger('change', [{ stating: true }]);
      }
    });
  </script>
  {{/each}}
  <script src="/javascripts/queue.js"></script>