<form class="form-show-box" action="/profile/show" method="put">
  {{!-- //O method="put" indica que as informações desse página passam pela função update --}}
  <h1 class="form-show-title">Meu Perfil</h1>
  <div>
    <div class="form-show-text col-md-12">
      <label for="user[fullname]">Nome</label>
      {{!-- //Todos os inputs estão "disabled", pois nessa página o usuário não pode atualizar seus dados, apenas visualizados --}}
      <input disabled type="text" value="{{user.fullname}}" name="user[fullname]" class="input-placeholder-green"
        placeholder="Nome Completo">
    </div>
    <div class="form-row">
      <div class="form-show-text col-md-6">
        <label for="user[email]">Email</label>
        <input disabled type="email" value="{{user.email}}" name="user[email]" class="input-placeholder-green"
          placeholder="Email">
      </div>
      <div class="form-show-text col-md-3">
        <label for="user[cellphone]">Celular</label>
        <input disabled type="text" value="{{user.cellphone}}" name="user[cellphone]" class="input-placeholder-green"
          placeholder="Celular">
      </div>
      <div class="form-show-text col-md-3">
        <label for="user[phone]">Telefone</label>
        <input disabled type="text" value="{{user.phone}}" name="user[phone]" class="input-placeholder-green"
          placeholder="Telefone">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-3 mt-3">
        <div class="form-check form-check-inline">
          {{!-- // O #if indica que dependendo do "persontype" do usuário, CPE ou CNPJ, essa parte do formulário estará preenchida de forma diferente --}}
          {{#if user.persontype}}
            <input disabled class="form-check-input position-static" type="radio" name="user[persontype]" value="0">
            <label class="radio-text form-check-label mr-3">CPF</label>
            <input disabled class="form-check-input position-static" type="radio" name="user[persontype]" value="1"
              checked>
            <label class="radio-text form-check-label mr-3">CNPJ</label>
          {{else}}
            <input disabled class="form-check-input position-static" type="radio" name="user[persontype]" value="0"
              checked>
            <label class="radio-text form-check-label mr-3">CPF</label>
            <input disabled class="form-check-input position-static" type="radio" name="user[persontype]" value="1">
            <label class="radio-text form-check-label mr-3">CNPJ</label>
          {{/if}}
        </div>
      </div>
      <div class="form-show-text col-md-9">
        <input disabled type="text" value="{{user.register}}" name="user[register]" class="input-placeholder-green"
          placeholder="CPF ou CNPJ">
      </div>
    </div>
    <div class="form-row">
      <div class="form-show-text col-md-6">
        <label for="user[address][street]">Rua</label>
        <input disabled type="text" value="{{user.address.street}}" name="user[address][street]"
          class="input-placeholder-green" placeholder="Endereço">
      </div>
      <div class="form-show-text col-md-3">
        <label for="user[address][number]">Número</label>
        <input disabled type="text" value="{{user.address.number}}" name="user[address][number]"
          class="input-placeholder-green" placeholder="Número">
      </div>
      <div class="form-show-text col-md-3">
        <label for="user[address][complement]">Complemento</label>
        <input disabled type="text" value="{{user.address.complement}}" name="user[address][complement]"
          class="input-placeholder-green" placeholder="Complemento">
      </div>
    </div>
    <div>
      <div class="form-row">
        <div class="form-show-text col-md-6">
          <label for="user[address][city]">Cidade</label>
          <input disabled type="text" value="{{user.address.city}}" name="user[address][city]">
        </div>
        <div class="form-show-text col-md-3">
          <select id="userstate" class="drowdownoptions" name="user[address][state]" required="required">
            <option disabled selected value="">Estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MT">Mato Grosso</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
          <label for="user[address][state]">Estado</label>
          <input disabled type="text" value="{{user.address.state}}" name="user[address][state]">
        </div>
        <div class="form-show-text col-md-3">
          <label for="user[address][cep]">CEP</label>
          <input disabled type="text" value="{{user.address.cep}}" class="form-show-text" name="user[address][cep]">
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      {{!-- //a função "onclick="location.href='/users/pending'"" indica que ao clicar no botão, o usuário será redirecionado para '/users/pending' --}}
      <button class="btn mr-2" type="button" onclick="location.href='/users/pending'"><i class="fa fa-reply"></i>
        Voltar</button>
      {{!-- //a função "onclick="location.href='/profile/edit/{{user._id}}'"indica que ao clicar no botão, o usuário será redirecionado para 'profile/edit/O id do usuário que está logado', isso indica que a pagina será redirecionada para a pagina edit especifica do usuario logado --}}
      <button class="btn ml-2" type="button" onclick="location.href='/profile/edit/{{user._id}}'"><i
          class="fa fa-pencil"></i> Alterar</button>
    </div>
</form>

<script>
  $(document).ready(function () {
    let reqstate = "{{user.address.state}}";
    $('select#userstate').val(reqstate);
    
  });
</script>