<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/jkanban.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="/javascripts/jkanban.js" charset="utf-8"></script>
  <script src="/javascripts/typeahead.bundle.js"></script>
  <script src="/javascripts/jquery.validate.min.js" charset="utf-8"></script>

</head>

<body>

  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="navbar-header fixed-brand">
      <button class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
        <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
            <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>

    <div class="d-none d-sm-flex">
      <div class="flex-column">
        <p class="m-0">(31) 3409-2113 </p>
        <p class="m-0">(31) 3409-2115 </p>
      </div>

      <div class="d-md-flex d-none ml-2">
        <button class="btn btn-social-media ml-2" onClick="location.href='https://www.facebook.com/lamicoufmg/'">
          <i class="fa fa-facebook fa-lg"></i>
        </button>
        <button class="btn btn-social-media ml-2"
          onClick="location.href='https://instagram.com/lamicoufmg?igshid=zqf2z5pmt8nl'">
          <i class="fa fa-instagram fa-lg"></i>
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="dashboard-user mr-2 d-flex flex-column" class="navbar-brand" href="#">
        <a>
          <i class="fa fa-user fa-4"></i>
          {{user.fullname}}
        </a>
        <a>
          {{user.type}}
        </a>
      </div>

      <button type="button" class="btn dashboard-logout" class="btn btn-primary btn-sm"
        onClick="location.href='/logout'">Logout</button>
    </div>


  </nav>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        {{#compare user.type "Produtor"}}
        {{> menuItem text="Principal" icon="fa-home" href="/user" }}
        {{> menuItem text="Nova Requisição" icon="fa-file-text-o" href="/requisition/new" }}
        {{> menuItem text="Histórico de Requisições" icon="fa-archive" href="/record" }}
        {{> menuItem text="Ver Estatísticas" icon="fa-bar-chart" href="/statistics" }}

        {{else}}

        {{#compare user.type "Gerencia"}}
        {{> menuItem text="Principal" icon="fa-home" href="/user" }}
        {{> menuItem text="Nova Requisição" icon="fa-file-text-o" href="/requisition/new" }}
        {{> menuItem text="Histórico de Requisições" icon="fa-archive" href="/record" }}
        {{> menuItem text="Ver Estatísticas" icon="fa-bar-chart" href="/statistics" }}

        {{else}}

        {{> menuItem text="Principal" icon="fa-home" href="/homeAdmin" }}
        {{> menuItem text="Mapa de Trabalho" icon="fa-columns" href="/queue" }}
        {{> menuItem text="Clientes" icon="fa-users" href="/users" }}
        {{> menuItem text="Administrar Convênios" icon="fa-user-circle-o" href="/covenant" }}
        {{> menuItem text="Lista de Analistas" icon="fa-user" href="/users/analysts" }}
        {{> menuItem text="Dados estatísticos" icon="fa-bar-chart" href="/statistics/" }}
        {{> menuItem text="Laudos" icon="fa-file-text" href="/report/admreport" }}
        {{> menuItem text="Controle de estoque" icon="fa-truck" href="/stock" }}
        {{> menuItem text="Usuários pendentes" icon="fa-user-plus" href="/users/pending" }}
        {{> menuItem text="Nova Requisição" icon="fa-file-text-o" href="/requisition/new" }}
        {{> menuItem text="Requisições Disponíveis" icon="fa-envelope" href="/requisition" }}

        {{/compare}}
        {{/compare}}
      </ul>
    </div>

    <div class="webvet-alert col-12 col-lg-4 col-md-6">
      {{> messages}}
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid xyz">

        {{{body}}}
      </div>
    </div>

  </div>



  <script src="/javascripts/layoutDashboard.js"></script>
  <script src="/javascripts/producerSearch.js"></script>
  <script src="/javascripts/covenantSearch.js"></script>
  <script src="/javascripts/managerSearch.js"></script>


</body>

</html>