<div>
    <h3>Convênio {{covenant.name}}</h3>
    <h4 style="margin-top: 5vh">Gerente administrador</h4>
    <table id="tb-admin" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome do Gerente</th>
                <th>Status</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>CPF/CNPJ</th>
                <th>Editar gerente</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th>{{covenant.admin.fullname}}</th>
                    <th>{{covenant.admin.status}}</th>
                    <th>{{covenant.admin.email}}</th>
                    <th>{{covenant.admin.phone}}</th>
                    <th>{{covenant.admin.cellphone}}</th>
                    <th>{{covenant.admin.register}}</th>
                    <th>
                        <button onClick="location.href='/users/show/{{covenant.admin._id}}/%20'" class="fa fa-info btn m-1"/>
                    </th>
                </tr>
        </tbody>
    </table>
    {{#if hasManagers}}
        <h4 style="margin-top: 5vh">Lista de gerentes:</h4>
        <table id="tb-managers" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome do Gerente</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>CPF/CNPJ</th>
                    <th>Editar gerente</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {{#each managers}}
                    <tr>
                        <th>{{fullname}}</th>
                        <th>{{status}}</th>
                        <th>{{email}}</th>
                        <th>{{phone}}</th>
                        <th>{{cellphone}}</th>
                        <th>{{register}}</th>
                        <th>
                            <button onClick="location.href='../../users/show/{{_id}}/%20'" class="fa fa-info btn m-1"/>
                        </th>
                        <th>
                            <form action="/user/removeFromCovenant/{{_id}}" method="post">
                                <input value="{{covId}}" name="covenant[id]" hidden="hidden" />
                                <button type="submit" class="fa fa-trash btn btn-default m-1" aria-hidden="true" />
                            </form>
                        </th>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <h4 style="margin-top: 5vh">Nenhum gerente cadastrado neste convênio</h4>
    {{/if}}
</div>

{{#if haveAvailable}}
    <div>
        <h4 style="margin-top: 5vh">Adicionar gerente ao convênio {{covenant.name}}:</h4>
        <form action="/covenant/addManagers/{{covenant._id}}" method="post"
            class="d-flex flex-column align-items-center">
            <div class="requisition-text col-md-12 d-flex align-items-center">
                <select multiple id="selectmanagers" class="drowdownoptions" name="managers" required="required">
                    <option disabled selected value="">Gerentes</option>
                    {{#each allManagers}}
                        <option id="{{_id}}" value="{{_id}}">{{fullname}} - {{email}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="btn-enviar">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
    </div>
{{else}}
    <div>
        <h4 style="margin-top: 5vh">Não há gerentes disponíveis para adicionar ao convênio</h4>
    </div>
{{/if}}

<script src="/javascripts/covenant.js"></script>