{{#each managers}}
    <div>
        <h3>{{fullname}}</h3>
        <table id="tb-user" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="th-name">Status</th>
                    <th class="th-name">Email</th>
                    <th class="th-name">Telefone</th>
                    <th class="th-name">Celular</th>
                    <th class="th-name">Registro</th>
                    <th class="th-name">Produtores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{status}}</th>
                    <th>{{email}}</th>
                    <th>{{phone}}</th>
                    <th>{{cellphone}}</th>
                    <th>{{register}}</th>
                    <th>
                        {{#each associatedProducers}}
                            <p>{{this}}</p>
                        {{/each}}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{{/each}}