<form action="/allworkmaps" method="post">

  <div class="col-sm-fluid container-fluid">
    <h4>Mapas de Trabalho</h4>
  </div>


  <div class="templateprint row">
    <table class="table-afla-child ">
      <thead>
        <tr>
          <th>AFLA</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap1'}}
            {{#compare aflatoxina.active true}}
              {{#compare isCalibrator false}}
                <tr>
                  <th>{{samplenumber}}</th>
                  <div class="some">
                    <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                  </div>

                  <th>
                    <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                    <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                  </th>
                </tr>
              {{/compare}}
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap2'}}
            {{#compare aflatoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap3'}}
            {{#compare aflatoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap4'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap5'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}





        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap6'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap7'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap8'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap9'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap10'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap11'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap12'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap13'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap14'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap15'}}
            {{#compare aflatoxina.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap16'}}
            {{#compare aflatoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[aflatoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[aflatoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[aflatoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each afla1}}
          {{#compare aflatoxina.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>






    <table class="table-afla">
      <thead>
        <tr>

          <th>DON</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap1'}}
            {{#compare deoxinivalenol.active true}}
              {{#compare isCalibrator false}}

                <tr>
                  <th>{{samplenumber}}</th>
                  <div class="some">
                    <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                  </div>

                  <th>
                    <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                    <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                  </th>

                </tr>
              {{/compare}}
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap2'}}
            {{#compare deoxinivalenol.active true}}

              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap3'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap4'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap5'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap6'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap7'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap8'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap9'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap10'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap11'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap12'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap13'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap14'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}






        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap15'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare deoxinivalenol.mapReference '_workmap16'}}
            {{#compare deoxinivalenol.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[deoxinivalenol][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[deoxinivalenol][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[deoxinivalenol][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each don1}}
          {{#compare deoxinivalenol.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>





    <table class="table-afla">
      <thead>
        <tr>

          <th>OTA</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap1'}}
            {{#compare isCalibrator false}}
              {{#compare ocratoxina.active true}}
                <tr>
                  <th>{{samplenumber}}</th>
                  <div class="some">
                    <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                  </div>

                  <th>
                    <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                    <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                  </th>
                </tr>
              {{/compare}}
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap2'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap3'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap4'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap5'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap6'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap7'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap8'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap9'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap10'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap11'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap12'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap13'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap14'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap15'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare ocratoxina.mapReference '_workmap16'}}
            {{#compare ocratoxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[ocratoxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[ocratoxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[ocratoxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each ota1}}
          {{#compare ocratoxina.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>




    <table class="table-afla ">
      <thead>
        <tr>

          <th>T2</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap1'}}
            {{#compare isCalibrator false}}
              {{#compare t2toxina.active true}}
                <tr>
                  <th>{{samplenumber}}</th>
                  <div class="some">
                    <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                  </div>

                  <th>
                    <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                    <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                  </th>
                </tr>
              {{/compare}}
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap2'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap3'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap4'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap5'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap6'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap7'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap8'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap9'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap10'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap11'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap12'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap13'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap14'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap15'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare t2toxina.mapReference '_workmap16'}}
            {{#compare t2toxina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[t2toxina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[t2toxina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[t2toxina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each t2}}
          {{#compare t2toxina.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>



    <table class="table-afla ">
      <thead>
        <tr>

          <th>ZEA</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap1'}}
            {{#compare zearalenona.active true }}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap2'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap3'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap4'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>
                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap5'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap6'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap7'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap8'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap9'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap10'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap11'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap12'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap13'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap14'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap15'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare zearalenona.mapReference '_workmap16'}}
            {{#compare zearalenona.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[zearalenona][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[zearalenona][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[zearalenona][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each zea}}
          {{#compare zearalenona.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>



    <table class="table-afla ">
      <thead>
        <tr>

          <th>FBs</th>
          <th>Absorv창ncia</th>
        </tr>
      </thead>
      <tbody>
        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap1'}}
            {{#compare fumonisina.active true}}
              {{#compare isCalibrator false}}
                <tr>
                  <th>{{samplenumber}}</th>
                  <div class="some">
                    <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                  </div>

                  <th>
                    <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                    <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                  </th>
                </tr>
              {{/compare}}
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each zea}}
          {{#compare fumonisina.mapReference '_workmap1'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap2'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}

        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap2'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap3'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap3'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap4'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap4'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap5'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap5'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap6'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap6'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap7'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap7'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap8'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap8'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap9'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap9'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap10'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap10'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap11'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap11'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}




        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap12'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap12'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap13'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap13'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap14'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap14'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}



        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap15'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap15'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}


        {{#each amostras}}
          {{#compare fumonisina.mapReference '_workmap16'}}
            {{#compare fumonisina.active true}}
              <tr>
                <th>{{samplenumber}}</th>
                <div class="some">
                  <input name="sample[fumonisina][_id]" type="text" value="{{_id}}">
                </div>

                <th>
                  <input type="text" name="sample[fumonisina][absorbance]" class="input-absorbance">
                  <input type="text" name="sample[fumonisina][absorbance2]" class="input-absorbance">
                </th>
              </tr>
            {{/compare}}
          {{/compare}}
        {{/each}}


        {{#each fbs}}
          {{#compare fumonisina.mapReference '_workmap16'}}
            <tr>
              <td><br></td>
            </tr>
          {{/compare}}
        {{/each}}

      </tbody>
    </table>

    <div class="btn-group-justified col-sm-12 container-fluid">
      <div class="btn btn-back">
        <a href="/queue" class="btn btn-success" id="test">Voltar</a>
      </div>
      <div class="btn btn-abs">
        <button class="btn btn-success">Finalizar</button>
      </div>
    </div>

</form>


{{!-- <script src="/javascripts/printtemplate.js"></script> --}}