<div class="printtemplate">
  <h4>Mapas de Trabalho</h4>
</div>
<div class="templateprint row">
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 1</th></tr>
      </thead>
      {{#each sample}}
            {{#compare mapReference '_workmap1'}}
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
            <tr><td>{{name}}</td></tr>
          {{/compare}}
      {{/each}}
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 2</th></tr>
      </thead>
        <tr><td>Amostra 1</td></tr>
        <tr><td>Amostra 2</td></tr>
        <tr><td>Amostra 3</td></tr>
        <tr><td>Amostra 4</td></tr>
        <tr><td>Amostra 5</td></tr>
        <tr><td>Amostra 6</td></tr>
        <tr><td>Amostra 7</td></tr>
        <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 3</th></tr>
      </thead>
        <tr><td>Amostra 1</td></tr>
        <tr><td>Amostra 2</td></tr>
        <tr><td>Amostra 3</td></tr>
        <tr><td>Amostra 4</td></tr>
        <tr><td>Amostra 5</td></tr>
        <tr><td>Amostra 6</td></tr>
        <tr><td>Amostra 7</td></tr>
        <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 4</th></tr>
      </thead>
        <tr><td>Amostra 1</td></tr>
        <tr><td>Amostra 2</td></tr>
        <tr><td>Amostra 3</td></tr>
        <tr><td>Amostra 4</td></tr>
        <tr><td>Amostra 5</td></tr>
        <tr><td>Amostra 6</td></tr>
        <tr><td>Amostra 7</td></tr>
        <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 5</th></tr>
      </thead>
        <tr><td>Amostra 1</td></tr>
        <tr><td>Amostra 2</td></tr>
        <tr><td>Amostra 3</td></tr>
        <tr><td>Amostra 4</td></tr>
        <tr><td>Amostra 5</td></tr>
        <tr><td>Amostra 6</td></tr>
        <tr><td>Amostra 7</td></tr>
        <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th>Mapa de Trabalho 6</th></tr>
      </thead>
        <tr><td>Amostra 1</td></tr>
        <tr><td>Amostra 2</td></tr>
        <tr><td>Amostra 3</td></tr>
        <tr><td>Amostra 4</td></tr>
        <tr><td>Amostra 5</td></tr>
        <tr><td>Amostra 6</td></tr>
        <tr><td>Amostra 7</td></tr>
        <tr><td>Amostra 8</td></tr>
    </able>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 7</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 8</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 9</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 10</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 11</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
    <table class="table-printtemplate col-2">
      <thead>
        <tr><th class="pt-2">Mapa de Trabalho 12</th></tr>
      </thead>
      <tr><td>Amostra 1</td></tr>
      <tr><td>Amostra 2</td></tr>
      <tr><td>Amostra 3</td></tr>
      <tr><td>Amostra 4</td></tr>
      <tr><td>Amostra 5</td></tr>
      <tr><td>Amostra 6</td></tr>
      <tr><td>Amostra 7</td></tr>
      <tr><td>Amostra 8</td></tr>
    </table>
  </div>
