<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho
  </div>
  
  
  <div class="data-atual col-1">
    Data:{{dd}}/{{mm}}/{{yyyy}}
  </div>


</div>



  <div class="templateprint row">
      <table class="table-afla col-2">
        <thead>
          <tr><th>AFLA</th></tr>
        </thead>
        
        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap1'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}    
          {{/compare}}
        {{/each}}        

      {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap1'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap2'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}
         
         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap2'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap3'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap3'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
      
        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap4'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap4'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
      
      


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap5'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap5'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap6'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap6'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


  
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap7'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap7'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap8'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap8'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap9'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap9'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
     
     
     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap10'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap10'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
     


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap11'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap11'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap12'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap12'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
     
     
     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap13'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap13'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}
     


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap14'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap14'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap15'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap15'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap16'}}
            <tr>
              <tr><td>{{samplenumber}}</td></tr>
            </tr>
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap16'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      </table>


    <table class="table-don col-2">
      <thead>
        <tr><th>DON</th></tr>
      </thead>


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap1'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

       {{#each don1}}
        {{#compare aflatoxina.mapReference '_workmap1'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap2'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}
      
       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap2'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap3'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap3'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap4'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap4'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap5'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}


     {{#each don1}}   
        {{#compare deoxinivalenol.mapReference '_workmap5'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap6'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}


     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap6'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap7'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap7'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap8'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap8'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap9'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

      {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap9'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap10'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap10'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap11'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap11'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap12'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap12'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap13'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}


     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap13'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap14'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap14'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap15'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap15'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap16'}}
      <tr>
      <tr><td>{{samplenumber}}</td></tr>
      </tr>
      {{/compare}}
      {{/each}}
       
       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap16'}} 
          <tr><td><br></td></tr>
        {{/compare}}
        {{/each}}

    </table>



    <table class="table-ota col-2">
      <thead>
        <tr><th>OTA</th></tr>
      </thead>
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap1'}}
          <tr><tr><td>{{samplenumber}}</td></tr></tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap1'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap2'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap2'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap3'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap3'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


        {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap4'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap4'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
       

      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap5'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap5'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}



      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap6'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap6'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


    
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap7'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap7'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

    
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap8'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap8'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap9'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap9'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap10'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap10'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap11'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap11'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap12'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap12'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap13'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap13'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap14'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap14'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap15'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap15'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap16'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap16'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


    </table>






    <table class="table-t2 col-2">
      <thead>
        <tr><th>T2</th></tr>
      </thead>

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap1'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap1'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}




      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap2'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap2'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap3'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap3'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap4'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap4'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap5'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap5'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap6'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap6'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap7'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap7'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap8'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap8'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap9'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap9'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap10'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap10'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap11'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap11'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap12'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap12'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap13'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap13'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap14'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap14'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap15'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap15'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}



      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap16'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap16'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    </table>







    <table class="table-zea col-2">
      <thead>
        <tr><th>ZEA</th></tr>
      </thead>
     


    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap1'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap1'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
    
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap2'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap2'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    


      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap3'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap3'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap4'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap4'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap5'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap5'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap6'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap6'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap7'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap7'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap8'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap8'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap9'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap9'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap10'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap10'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap11'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap11'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap12'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap12'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap13'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap13'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap14'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap14'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap15'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workamap15'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap16'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap16'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}
    
      
    </table>




    <table class="table-fbs col-2">
      <thead>
        <tr><th>FBs</th></tr>
      </thead>
      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap1'}}
          
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap1'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap2'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap2'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap3'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap3'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap4'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap4'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap5'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap5'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap6'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap6'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

    
      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap7'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap7'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap8'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap8'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap9'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap9'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap10'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap10'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap11'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap11'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap12'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap12'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap13'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap13'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap14'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap14'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap15'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap15'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap16'}}
          <tr>
            <tr><td>{{samplenumber}}</td></tr>
          </tr>
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap16'}} 
        <tr><td><br></td></tr>
      {{/compare}}
      {{/each}}




    </table>








  </div>