<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho
  </div>
  <div class="data-atual col-1">
    Data:{{dd}}/{{mm}}/{{yyyy}}
  </div>
</div>

  <div class="templateprint row">
      <table class="table-zea col-2">
        <thead>
          <tr><th>AFLA</th></tr>
        </thead>
        
            <tr>
               <th>P1</th>
             </tr>
             <tr>
               <th>P2</th>
             </tr>
                
             <tr>
               <th>P3</th>
             </tr>
               
             <tr>
                <th>P4</th>
             </tr>
               
             <tr>
               <th>P5</th>
             </tr>
          

    

        {{#each amostras}}
          {{#compare aflatoxina.mapReference '_workmap1'}}
            {{#compare aflatoxina.active true}}
              {{#compare isCalibrator false}}
              <tr><tr></tr><td>{{samplenumber}}</td></tr></tr>
              {{/compare}}
            {{/compare}}    
          {{/compare}}
        {{/each}}        

      {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap1'}} 
          <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap2'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}
         
         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap2'}} 
          <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap3'}}
          {{#compare aflatoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap3'}} 
          <tr><td><div class = "linhas-print"><hr></div></td></tr>        {{/compare}}
        {{/each}}
      
        {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap4'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}
      
      


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap5'}}
           {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap6'}}
            {{#compare aflatoxina.active true}}
             <tr><tr><td>{{samplenumber}}</td></tr></tr>
           {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


  
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap7'}}
             {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap8'}}
           {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap9'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}
     
     
     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap10'}}
             {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}
     


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap11'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap12'}}
           {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}
     
     
     
      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap13'}}
            {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}
     


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap14'}}
             {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap15'}}
             {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
        {{#compare aflatoxina.mapReference '_workmap16'}}
             {{#compare aflatoxina.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}   
        {{/compare}}
        {{/each}}


         {{#each afla1}}
        {{#compare aflatoxina.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      </table>



       <table class="table-t2 col-2">
      <thead>
        <tr><th>DON</th></tr>
      </thead>

      <tr>  
         <th>P1</th>
       </tr>
       <tr>
        <th>P2</th>
        </tr>        
       <tr>
        <th>P3</th>
       </tr>
      <tr>
       <th>P4</th>
      </tr>         
      <tr>
        <th>P5</th>
      </tr>
          

      {{#each amostras}}
        {{#compare deoxinivalenol.mapReference '_workmap1'}}
          {{#compare deoxinivalenol.active true}}
            {{#compare isCalibrator false}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
            {{/compare}}  
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each don1}}
      {{#compare t2toxina.mapReference '_workmap1'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap2'}}
         {{#compare deoxinivalenol.active true}}
              <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}
      
       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap2'}} 
         <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap3'}}
       {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
        {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap3'}} 
         <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap4'}}
         {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap5'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}


     {{#each don1}}   
        {{#compare deoxinivalenol.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap6'}}
         {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}


     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}



      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap7'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap8'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap9'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

      {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap10'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap11'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap12'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap13'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}


     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap14'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}


      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap15'}}
          {{#compare deoxinivalenol.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
      {{/compare}}
      {{/each}}

     {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

      {{#each amostras}}
      {{#compare deoxinivalenol.mapReference '_workmap16'}}
        {{#compare deoxinivalenol.active true}}
          <tr><tr><td>{{samplenumber}}</td></tr></tr>
        {{/compare}}
      {{/compare}}
      {{/each}}
       
       {{#each don1}}
        {{#compare deoxinivalenol.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
        {{/compare}}
        {{/each}}

    </table>



    <table class="table-ota col-2">
      <thead>
        <tr><th>OTA</th></tr>
      </thead>
      
      <tr>  
         <th>P1</th>
       </tr>
       <tr>
        <th>P2</th>
        </tr>        
       <tr>
        <th>P3</th>
       </tr>
      <tr>
       <th>P4</th>
      </tr>         
      <tr>
        <th>P5</th>
      </tr>
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap1'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap1'}} 
          <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap2'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap2'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap3'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap3'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


        {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap4'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
       

      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap5'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}



      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap6'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


    
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap7'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

    
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap8'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap9'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap10'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap11'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap12'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap13'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap14'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      
      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap15'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare ocratoxina.mapReference '_workmap16'}}
          {{#compare ocratoxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}

      {{#each ota1}}
      {{#compare ocratoxina.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


    </table>






    <table class="table-t2 col-2">
      <thead>
        <tr><th>T2</th></tr>
      </thead>
      
      <tr>  
         <th>P1</th>
       </tr>
       <tr>
        <th>P2</th>
        </tr>        
       <tr>
        <th>P3</th>
       </tr>
      <tr>
       <th>P4</th>
      </tr>         
      <tr>
        <th>P5</th>
      </tr>

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap1'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap1'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}




      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap2'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap2'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap3'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap3'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap4'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap5'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap6'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap7'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap8'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap9'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap10'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap11'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap12'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap13'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap14'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap15'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}



      {{#each amostras}}
        {{#compare t2toxina.mapReference '_workmap16'}}
          {{#compare t2toxina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each t2}}
      {{#compare t2toxina.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    </table>







    <table class="table-zea col-2">
      <thead>
        <tr><th>ZEA</th></tr>
      </thead>
      
      <tr>  
         <th>P1</th>
       </tr>
       <tr>
        <th>P2</th>
        </tr>        
       <tr>
        <th>P3</th>
       </tr>
      <tr>
       <th>P4</th>
      </tr>         
      <tr>
        <th>P5</th>
      </tr>
     


    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap1'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap1'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
    
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap2'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap2'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    


      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap3'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap3'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap4'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap5'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap6'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap7'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap8'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap9'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap10'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap11'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap12'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap13'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap14'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap15'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workamap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
    
      {{#each amostras}}
        {{#compare zearalenona.mapReference '_workmap16'}}
          {{#compare zearalenona.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each zea}}
      {{#compare zearalenona.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}
    
      
    </table>




    <table class="table-fbs col-2">
      <thead>
        <tr><th>FBs</th></tr>
      </thead>
      
      <tr>  
         <th>P1</th>
       </tr>
       <tr>
        <th>P2</th>
        </tr>        
       <tr>
        <th>P3</th>
       </tr>
      <tr>
       <th>P4</th>
      </tr>         
      <tr>
        <th>P5</th>
      </tr>
      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap1'}}
         {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap1'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap2'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap2'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap3'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap3'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap4'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap4'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap5'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap5'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap6'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap6'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

    
      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap7'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap7'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap8'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap8'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap9'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap9'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap10'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap10'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap11'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap11'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap12'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap12'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap13'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap13'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap14'}}
         {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap14'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap15'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap15'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}


      {{#each amostras}}
        {{#compare fumonisina.mapReference '_workmap16'}}
          {{#compare fumonisina.active true}}
            <tr><tr><td>{{samplenumber}}</td></tr></tr>
          {{/compare}}
        {{/compare}}
      {{/each}}
      
      {{#each fbs}}
      {{#compare fumonisina.mapReference '_workmap16'}} 
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/compare}}
      {{/each}}

    </table>



  </div>