<div class="col-sm-fluid container-fluid">
  <h4>Cálculos de amostra</h4>
</div>


<form action="/sampleresult" method="post">
  <div class="container-fluid d-flex justify-content-between flex-wrap">
    {{#each resultados}}
      <table>
        <thead>
          <tr>
            <th class="" scope="col">{{name}}</th>
            <th class="absorbance px-2" scope="col">Média abs</th>
            <th class="absorbance px-2" scope="col">Resultado</th>
          </tr>
        </thead>

        <tbody>
          {{#each result}}
            {{#if changed_workmap}}
              <tr>
                <td><br></td>
              </tr>
            {{/if}}
            <tr>
              <th class="some">
                <input name="sample[{{../name}}][_id]" type="text" value="{{_id}}">
              </th>
              <th scope="row">{{number}}</th>
              <td><input readonly type="text" class="input-absorbance" value="{{round average 3}}"></td>
              <td><input readonly type="text" class="input-absorbance" value="{{round compara 2}}"></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  </div>
  <div class="d-flex flex-row-reverse px-3 py-1">
      <button class="btn btn-success">Finalizar</button>
  </div>
</form>