<div class="d-flex justify-content-center flex-md-row flex-column flex-wrap" id="user-box-device">
  <div class="user-card mx-auto mx-md-5 mb-3" id="requisition-user">
    <h1>Requisições em Progresso</h1>
    {{#each data}}
      <a href="../../requisition/useredit/{{_id}}">
        <li>Requisição {{number}}/{{year}}</li>
      </a>
    {{/each}}
  </div>
  <div class="user-card mx-auto mx-md-5 mb-3" id="laudo-user">
    <h1>Laudos disponíveis</h1>
    {{#if laudEmpty}}
      <li>Nenhum laudo disponível</li>
    {{/if}}
    {{#each laudos}}
      <a href="../../report/show/{{_id}}">
        <li>Laudo {{samplenumber}}/{{creationYear}}</li>
      </a>
    {{/each}}
  </div>
</div>