<h4>Requisições</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Identificação</th>
        <th class = "th-type">Fazenda</th>
        <th class = "th-type">Destino</th>
        <th class = "th-action"></th>
        <th class = "th-type">Laudos</th>
      </tr>
    </thead>
    <tbody>
      {{#each logados}}
          <tr>
            <th>{{identification}}</th>
            <th>{{farmname}}</th>
            <th>{{destination}}</th>
            <th>
              <button onClick="location.href='requisition/show/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
            <th>
             {{#if report}}
                <button class="btn btn-success"></button>
              {{else}}
                <button class="btn btn-danger"></button>
              {{/if}}
            </th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
