<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="logolaudo">
  <img src="/images/logolaudo.jpg">
</div>
<p></p>
<div class="title-laudo">
  <h3>
    <u> Laudo de Análise Micotoxicológica </u>
  </h3>
</div>
<div class="laudo-text">
  <h4> <b>Registro Lab.</b> MICOTOX {{Requisitiondata.requisitionnumber}}/{{Requisitiondata.year}}</h4>
  <h4> <b>1. Laudo n°:</b> {{sample.samplenumber}}/{{Requisitiondata.year}}</h4>
  <h4> <b>2. Descrição da Amostra:</b> </h4>
  <div class="info-laudo">
    <h4> 2.1 - Tipo de embalagem: {{Requisitiondata.packingtype}}</h4>
    <h4> 2.2 - Quantidade recebida: {{Requisitiondata.receivedquantity}}</h4>
    <h4> 2.3 - Produtor: {{Requisitiondata.producer}}</h4>
    <h4> 2.4 - Data de recebimento: {{Requisitiondata.datereceipt}}</h4>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp - N° autorização: {{Requisitiondata.autorizationnumber}} </h4>
  </div>
  <h4> <b>3. Descrição da empresa pública ou privada/pessoa física/pessoa jurídica solicitante:</b> </h4>
  <div class="info-laudo">
    <h4> 3.1 - Nome: {{Requisitiondata.clientName}}</h4>
    <h4> 3.2 - Responsável pela entrega da amostra: {{Requisitiondata.responsible}} </h4>
  </div>
  <h4> <b>4. Características das análises da amostra:</b> </h4>
  <div class="info-laudo">
    <h4> 4.1 - Detecção e quantificação de {{Requisitiondata.toxinas}} </h4>
  </div>
  <h4> <b>5. Resultados:</b> </h4>
    <div class="info-laudo">
      <table class="table text-center">
        <caption>ND = Não Detectado *média de duas repetições </caption>
        <thead>
          <tr class="text-center">
            <th scope="col">Micotoxinas</th>
            <th scope="col" class="text-center">Concentração Detectada (ppb)* </th>
            <th scope="col" class="text-center">Limite de Detecção -LoD (ppb) </th>
            <th scope="col" class="text-center">Limite de Quantificação - LoQ (ppb)</th>
          </tr>
        </thead>
        <tbody>
          {{#each toxinaData.Values}}
            <tr>
              <th scope="row">{{Name}}</th>
              <td>
                <a type="text" id="{{Pair.name}}Conc" value="{{round Result 2}}"></a>
              </td>
              <td>{{Pair.kit.Lod}}</td>
              <td>{{Pair.kit.Loq}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <h4> 6. Parecer técnico: </h4>
    <div id="parecer"></div>
     <textarea name="sample[parecer]" class="col-sm-12">{{sample.parecer}}</textarea>
    <h4> 7. Comentários: </h4>
    <textarea name="sample[description]" cols="100" rows="7">{{sample.description}}</textarea>
  <h4> Belo Horizonte, </h4>
  <div class="laudo-assinatura">
    <p><u> _________________________________ </u></p>
    <p>Profa Dra Kelly Moura Keller</p>
    <p>DMVP/EV-UFMG</p>
    <p>Coordenadora LAMICO</p>
  </div>

  <div class="laudo-footer page-footer font small">
    <h7 class="text-uppercase">Av. Antônio Carlos 6627 - Escola de Veterinária da UFMG - Belo Horizonte / MG - CEP
      31270-901 - www.lamico.com.br</h7>
    <p>Tels.: +55 (31) 3409-2098 Sala / 3409-2113 ou 2115 Lab. / Cel.: 98585-4965 Claro - Email: kelly.medvet@gmail.com
    </p>
  </div>
  <center>
    <button class="btn btn-primary hidden-print" onclick="location.href='/report'"><span class="glyphicon"
        aria-hidden="true"></span> Voltar </button>
  </center>
</div>

<script src="/javascripts/report.js"></script>