<div class="showstock">
    <div class="showbox">
      <br>
      <p><font color="gray" size="5">Kit {{kit.kitId}}</p>
      <hr color="lightgray">
      <div class="showboxinfo">
        <p><font size="4" color="black">Quantidade em Estoque: {{kit.amount}}</p>
        <p><font size="4" color="black">Situação: {{kit.status}} </p>
        <p><font size="4" color="black">Lod: {{kit.Lod}}</p>
        <p><font size="4" color="black">LoQ: {{kit.LoQ}}</p>
        <p><font size="4" color="black">Fornecedor: {{kit.provider}}</p>
        <p><font size="4" color="black">Data de Expiração:{{kit.expirationDate}}</p>
        <p><font size="4" color="black">Estoque Mínimo: {{kit.stockMin}}</p>
        <a href="{{kit.id}}/edit" class="btn btn-outline-success">Editar</a>
        <p><font size="4" color="red" name="kit[status]"></p>
      </div>
    </div>
  </div>
