<div class="requisition">
  <h4 align="center"> Formulário de Novo Registro</h4>
  <br>
  <div class="requisition-titles">
    <p> Dados de Cobrança</p>
  </div>
  </br>
  <button id="btn-new-address" class="btn btn-success" onClick="clearData()" type="button">Cadastrar outros dados de cobrança</button>
</div>

<form action="/requisition/new" method="post" class="d-flex flex-column align-items-center">
  <div id="keep-address" class="form-row col-md-10">
    <div class="requisition-text col-md-12">
      <input required id="fullname" type="text" name="requisition[client][fullname]" value="{{user.fullname}}"
        class="requisition-text" placeholder="Razão Social/Nome Completo">
    </div>
    {{#compare user.type "Admin"}}
      <div class="requisition-text col-md-12 d-flex align-items-center">
        <select required="required" id="adminUser" type="" name="requisition[user]" value="" class="drowdownoptions"
          placeholder="Selecione o Usuário">
          <option disabled selected value="">Selecione o Usuário</option>
          {{#each users}}
            <option value="{{_id}}">{{fullname}} - {{type}} - {{email}}</option>
          {{/each}}
        </select>
      </div>
    {{/compare}}
    {{#compare user.type "Analista"}}
      <div class="requisition-text col-md-12 d-flex align-items-center">
        <select required="required" id="analystUser" type="" name="requisition[user]" value="" class="drowdownoptions"
          placeholder="Selecione o Usuário">
          <option disabled selected value="">Selecione o Usuário</option>
          {{#each users}}
            <option value="{{_id}}">{{fullname}} - {{type}} - {{email}}</option>
          {{/each}}
        </select>
      </div>
    {{/compare}}
    <div class="requisition-text col-md-6">
      <input required id="cpf" type="text" name="requisition[client][register]" value="{{user.register}}"
        class="requisition-text" placeholder="CNPJ/CPF">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="I.E" type="text" name="requisition[IE]" class="requisition-text" placeholder="I.E">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="street" type="text" name="requisition[address][street]" value="{{user.address.street}}"
        class="requisition-text" placeholder="Rua de endereço de Faturamento">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="number" type="text" name="requisition[address][number]" value="{{user.address.number}}"
        class="requisition-text" placeholder="Nº">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="complement" type="text" name="requisition[address][complement]"
        value="{{user.address.complement}}" class="requisition-text" placeholder="Complemento">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="neighborhood" type="text" name="requisition[address][neighborhood]"
        value="{{user.address.neighborhood}}" class="requisition-text" placeholder="Bairro">
    </div>
    <div class="requisition-text col-md-4">
      <input required id="city" type="text" name="requisition[address][city]" value="{{user.address.city}}"
        class="requisition-text" placeholder="Cidade">
    </div>
    <div class="requisition-text col-md-4 d-flex align-items-center">
      <select id="userstate" class="drowdownoptions" name="requisition[address][state]" required="required">
        <option disabled selected value="">Estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espirito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MT">Mato Grosso</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
    <div class="requisition-text col-md-4">
      <input required id="cep" type="number" name="requisition[address][cep]" value="{{user.address.cep}}"
        class="requisition-text" placeholder="CEP">
    </div>
    <div class="requisition-text col-md-12">
      <input required id="resposible" type="text" name="requisition[responsible]" class="requisition-text"
        placeholder="Responsável pela amostra">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="phone" type="text" name="requisition[client][phone]" value="{{user.phone}}"
        class="requisition-text" placeholder="Tel. com DDD">
    </div>
    <div class=" requisition-text col-md-6">
      <input required id="cellphone" type="text" name="requisition[client][cellphone]" value="{{user.cellphone}}"
        class="requisition-text" placeholder="Cel. com DDD">
    </div>
    <div class="requisition-text col-md-12">
      <input required id="email" type="text" name="requisition[client][email]" value="{{user.email}}"
        class="requisition-text" placeholder="Email">
    </div>
  </div>
  <br>
  <div class="requisition-titles">
    <p> Requisição de Análise</p>
  </div>
  <br>
  <div class="form-row col-md-10">
    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[producer]" class="requisition-text"
        placeholder="Nome do cliente | Fazenda | Produtor">
    </div>
    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[autorizationnumber]" class="requisition-text"
        placeholder="Número de Autorização">
    </div>

    <div class="requisition-text col-md-4">
      <input required type="text" name="requisition[city]" class="requisition-text" placeholder="Município">
    </div>
    <div class="requisition-text col-md-4 d-flex align-items-center">
      <select id="requisitonstate" class="drowdownoptions" name="requisition[state]" required="required">
        <option disabled selected value="">Estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espirito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MT">Mato Grosso</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
    <div class="requisition-text col-md-4">
      <input required type="text" name="requisition[datecollection]" class="requisition-text"
        placeholder="Data de Coleta">
    </div>
  </div>
  <br>
  <h6 align="left"> Qual é a destinação do alimento?</h6>

  <div class="form-group d-flex flex-wrap text-left justify-content-center">
    <div class="column">
      <div class="form-check">
        <input checked id="Aves" class="form-check-input" type="radio"
          name="requisition[destination]" value="Aves">
        <label for="Aves" class="radio-text form-check-label mr-3"> Aves </label>
      </div>

      <div class="form-check">
        <input id="leite" class="form-check-input" type="radio" name="requisition[destination]"
          value="Gado de Leite">
        <label for="leite" class="radio-text form-check-label mr-3"> Gado de Leite </label>
      </div>
    </div>

    <div class="column">
      <div class="form-check">
        <input id="corte" class="form-check-input" type="radio" name="requisition[destination]"
          value="Gado de Corte">
        <label for="corte" class="radio-text form-check-label mr-3"> Gado de Corte </label>
      </div>

      <div class="form-check">
        <input id="Pig" class="form-check-input" type="radio" name="requisition[destination]"
          value="Suínos">
        <label for="Pig" class="radio-text form-check-label mr-3"> Suínos </label>
      </div>
    </div>

    <div class="column">
      <div class="form-check">
        <input id="Horse" class="form-check-input" type="radio" name="requisition[destination]"
          value="Equinos">
        <label for="Horse" class="radio-text form-check-label mr-3"> Equinos </label>
      </div>

      <div class="form-check">
        <input id="Goat" class="form-check-input" type="radio" name="requisition[destination]"
          value="Caprinos">
        <label for="Goat" class="radio-text form-check-label mr-3"> Caprinos </label>
      </div>
    </div>

    <div class="column">
      <div class="form-check">
        <input id="Sheep" class="form-check-input" type="radio" name="requisition[destination]"
          value="Ovinos">
        <label for="Sheep" class="radio-text form-check-label mr-3"> Ovinos </label>
      </div>
      <div class="form-check">
        <input id="Fish" class="form-check-input" type="radio" name="requisition[destination]"
          value="Peixes">
        <label for="Fish" class="radio-text form-check-label mr-3"> Peixes </label>
      </div>
    </div>
    <div class="column">
      <div class="form-check">
        <input id="Pet" class="form-check-input" type="radio" name="requisition[destination]" value="Pet">
        <label for="Pet" class="radio-text form-check-label mr-3"> Pet </label>
      </div>

      <div class="form-check">
        <input id="Matéria-Prima" class="form-check-input" type="radio" name="requisition[destination]"
          value="Matéria-Prima">
        <label for="Matéria-Prima" class="radio-text form-check-label mr-3"> Matéria-Prima(Fábrica de Ração) </label>
      </div>
    </div>
    <div class="row ml-0">
      <div class="form-check">
        <input id="Others" class="form-check-input destination" type="radio" name="requisition[destination]"
          value="Outros">
        <label for="Others" class="radio-text form-check-label mr-3"> Outros </label>
      </div>
      <div id="Other-destination" class="form-disabled form-row h-50">
        <input type="text" name="" class="input w-100" placeholder="Destinação">
      </div>
    </div>

  </div>

  <br>
  <br>
  <div class="requisition-titles">
    <p> Identificação da Amostra</p>
  </div>
  <div class="d-flex flex-column col-md-10 justify-content-center">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Atenção!</strong> Deve ser informado junto ao nome da identificação se há ou não <strong>polpa
        cítrica</strong> na amostra
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-row">
      <div class="requisition-text col-md-8">
        <input required type="text" name="requisition[sampleVector][1][name]" id="sample1" class="requisition-text"
          placeholder="Amostra 1">
      </div>
      <div class="checkbox col-md-2 d-flex pb-1">
        <div class="align-self-end">
          <input type="checkbox" id="polpa" name="requisition[sampleVector][1][citrus]" value="true" class="my-auto" />
          <label for="polpa" class="">Contém polpa cítrica</label>
        </div>
      </div>
      <div class="btn-polpa">
        <a id="add" type="button" onclick="addInput()" class="btn btn-outline-success">+</a>
      </div>
    </div>
    <div id="samples" class="d-flex flex-column">
    </div>
  </div>

  <div class="requisition-text col-md-10 mt-5">
    <textarea class="requisition-text w-100" name="requisition[comment]" placeholder="Observações" rows="4"></textarea>
  </div>

  <br>
  <div class="requisition-titles">
    <p> Análises Solicitadas</p>
  </div>

  <br>
  <div class="form-check form-check-inline">
    <p>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input checked class="form-check-input position-static ml-1"
          type="checkbox" name="requisition[mycotoxin]" value="Aflatoxinas">Aflatoxinas</label>
    </div>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input class="form-check-input position-static ml-1" type="checkbox"
          name="requisition[mycotoxin]" value="Ocratoxina A">Ocratoxina A</label>
    </div>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input class="form-check-input position-static ml-1" type="checkbox"
          name="requisition[mycotoxin]" value="Deoxinivalenol">Deoxinivalenol*</label>
    </div>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input class="form-check-input position-static ml-1" type="checkbox"
          name="requisition[mycotoxin]" value="T-2 toxina">T-2 toxina</label>
    </div>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input class="form-check-input position-static ml-1" type="checkbox"
          name="requisition[mycotoxin]" value="Fumonisina">Fumonisinas</label>
    </div>
    <div class="micotoxina-options">
      <label class="radio-text form-check-label"><input class="form-check-input position-static ml-1" type="checkbox"
          name="requisition[mycotoxin]" value="Zearalenona">Zearalenona</label>
    </div>
    </p>
  </div>
  <br>
  <br>
  <div>
    <strong>*A análise de deoxinivalenol em polpa cítrica (ou dietas que tenham este ingrediente em sua composição)
      requer purificação adicional - Destacar esta informação na amostra enviada!</strong>
  </div>
  <div class="btn-enviar">
    <button type="submit" class="btn btn-success">Enviar</button>
  </div>
</form>
</div>
<script>
  $(document).ready(function () {
    //Set select values
    let userstate = "{{user.address.state}}";
    $('select#userstate').val(userstate);
  });
</script>
<script src="/javascripts/reqFunc.js" />
<script src="/javascripts/dynamicPlaceHolder.js" />