<div class="requisition">
  <h4 align="center"> Formulário de Novo Registro</h4>
  <br>
  <div class="requisition-titles">
    <p> Dados de Cobrança</p>
  </div>
  </br>
</div>

<form action="/requisition/new" method="post" class="d-flex flex-column align-items-center">
  <div id="keep-address" class="form-row col-md-10">
    <div class="requisition-text col-md-12">
      <input required id="fullname" type="text" name="requisition[charge][fullname]" value="{{user.fullname}}"
        class="requisition-text" placeholder="Razão Social/Nome Completo">
    </div>
    {{#if isFromLab}}
      <div class="requisition-text col-md-12 d-flex align-items-center">
        <select required="required" id="analystUser" type="" name="requisition[charge][user]" value="" class="drowdownoptions"
          placeholder="Selecione o Usuário">
          <option disabled selected value="">Selecione o Usuário</option>
          {{#each users}}
          <option value="{{_id}}">{{fullname}} - {{type}} - {{email}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    <div class="requisition-text col-md-6">
      <input required id="cpf" type="text" name="requisition[charge][cpfCnpj]" value="{{user.charge.cpfCnpj}}"
        class="requisition-text" placeholder="CNPJ/CPF">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="I.E" type="text" name="requisition[charge][IE]" class="requisition-text" placeholder="I.E" value="{{user.charge.IE}}" >
    </div>
    <div class="requisition-text col-md-6">
      <input required id="street" type="text" name="requisition[charge][street]" value="{{user.charge.street}}"
        class="requisition-text" placeholder="Rua de endereço de Faturamento">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="number" type="text" name="requisition[charge][number]" value="{{user.charge.number}}"
        class="requisition-text" placeholder="Nº">
    </div>
    <div class="requisition-text col-md-6">
      <input id="complement" type="text" name="requisition[charge][complement]"
        value="{{user.charge.complement}}" class="requisition-text" placeholder="Complemento">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="neighborhood" type="text" name="requisition[charge][neighborhood]"
        value="{{user.charge.neighborhood}}" class="requisition-text" placeholder="Bairro">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="city" type="text" name="requisition[charge][city]" value="{{user.charge.city}}"
        class="requisition-text" placeholder="Cidade">
    </div>
    <div class="requisition-text col-md-2 d-flex align-items-center">
      <select id="userstate" class="drowdownoptions" name="requisition[charge][state]" required="required">
        <option disabled selected value="">Estado</option>
        {{#each allStates}}
        <option value="{{initials}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="requisition-text col-md-4">
      <input required id="cep" type="number" name="requisition[charge][cep]" value="{{user.charge.cep}}"
        class="requisition-text" placeholder="CEP">
    </div>
    <br/>
    <br/>
      <div class="requisition-titles mt-4 col-md-12">
        <p>Dados de contato</p>
      </div>
    <br/>
    <div class="requisition-text col-md-12">
      <input required id="resposible" type="text" name="requisition[contact][fullname]" class="requisition-text"
        placeholder="Responsável pela amostra" value="{{user.contact.fullname}}">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="phone" type="text" name="requisition[contact][phone]" value="{{user.contact.phone}}"
        class="requisition-text" placeholder="Tel. com DDD">
    </div>
    <div class=" requisition-text col-md-6">
      <input required id="cellphone" type="text" name="requisition[contact][cellphone]" value="{{user.contact.cellphone}}"
        class="requisition-text" placeholder="Cel. com DDD">
    </div>
    <div class="requisition-text col-md-12">
      <input required id="email" type="text" name="requisition[contact][email]" value="{{user.contact.email}}"
        class="requisition-text" placeholder="Email">
    </div>
  </div>
  <br>
  <div class="requisition-titles">
    <p>Requisição de Análise</p>
  </div>
  <br>
  <div class="form-row col-md-10">
    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[analysis][producerName]" class="requisition-text"
        placeholder="Nome do cliente | Fazenda | Produtor">
    </div>
    <div class="requisition-text col-md-6">
      <input type="text" name="requisition[analysis][autorizationNumber]" class="requisition-text"
        placeholder="Número de Autorização">
    </div>

    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[analysis][city]" class="requisition-text" placeholder="Município">
    </div>
    <div class="requisition-text col-md-6 d-flex align-items-center">
      <select id="requisitonstate" class="drowdownoptions" name="requisition[analysis][state]" required="required">
        <option disabled selected value="">Estado</option>
        {{#each allStates}}
        <option value="{{initials}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="requisition-text col-md-6">
      <input required type="date" name="requisition[analysis][collectionDate]" class="requisition-text"
        placeholder="Data de Coleta">
    </div>
    <div class="requisition-text col-md-6">
      <select required id="destination" class="drowdownoptions mt-3" name="requisition[analysis][destination]">
        <option disabled selected value="" id="defaultDestOption">Escolha a destinação do alimento</option>
        {{#each allDestinations}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <br>
  <div class="requisition-titles">
    <p>Identificação da Amostra</p>
  </div>
  <div class="d-flex flex-column col-md-10 justify-content-center">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Atenção!</strong> Deve ser informado junto ao nome da identificação se há ou não <strong>polpa
        cítrica</strong> na amostra
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-row sample_row">
      {{#if isFromLab}}
        <div class="requisition-text col-md-3">
          <input required type="text" name="requisition[sampleVector][0][name]" id="sample0" class="requisition-text"
            placeholder="Amostra 1">
        </div>
        <div class="requisition-text col-md-5">
          <input id="receivedlimitdate[0]" type="text" name="requisition[sampleVector][0][limitDate]"
            class="requisition-text" placeholder="Data Limite de Avaliação (dd/mm/yyyy)">
        </div>
      {{else}}
        <div class="requisition-text col-md-8">
          <input required type="text" name="requisition[sampleVector][0][name]" id="sample1" class="requisition-text"
            placeholder="Amostra 1">
        </div>
      {{/if}}
      <div class="checkbox col-md-2 d-flex pb-1">
        <div class="align-self-end">
          <input type="checkbox" id="polpa" name="requisition[sampleVector][0][isCitrus]" value="true" class="my-auto" />
          <label for="polpa" class="">Contém polpa cítrica</label>
        </div>
      </div>
      <div class="btn-polpa">
        <a id="add" type="button" onclick="addInput()" class="btn btn-outline-success">+</a>
      </div>
    </div>
    <div id="samples" class="d-flex flex-column">
    </div>
  </div>

  <div class="requisition-text col-md-10 mt-5">
    <textarea class="requisition-text w-100" name="requisition[comment]" placeholder="Observações" rows="4"></textarea>
  </div>

  <br>
  <div class="requisition-titles">
    <p> Análises Solicitadas</p>
  </div>
  <br>
  <div class="d-flex flex-wrap col-md-12 align-items-center justify-content-center">
    <p>
      {{#each toxins}}
    <div class="col-md-4 d-flex flex-row m-1">
      <input class="mr-3" type="checkbox" name="requisition[selectedToxins]" value="{{_id}}" id="{{_id}}">
      <label for="{{_id}}" class="">
        <h6>
          {{name}}
      </h6>
      </label>
    </div>
    {{/each}}
    </p>
  </div>
  <br>
  <div>
    <strong>*A análise de deoxinivalenol em polpa cítrica (ou dietas que tenham este ingrediente em sua composição)
      requer purificação adicional - Destacar esta informação na amostra enviada!</strong>
  </div>
  <div class="btn-enviar">
    <button type="submit" class="btn btn-success">Enviar</button>
  </div>
</form>
</div>
<div hidden class="isFromLab">{{isFromLab}}</div>
<script>
  $(document).ready(function () {
    //Set select values
    let userstate = "{{user.address.state}}";
    $('select#userstate').val(userstate);
  });
</script>
<script src="/javascripts/reqFunc.js"></script>
<script src="/javascripts/dynamicPlaceHolder.js"></script>