<div class="">
    <div class="">
      <br>
      <div class="row">
        <form class="col-2" action="/requisition" method="get">
            <button type="submit" class="btn btn-outline-success">Voltar</button>
        </form>
        <div class="col-8">
          <font color="gray" size="5"> Requisição {{requisitions.identification}}
        </div>
        <form class="col-2" action="/requisition/delete/{{requisition._id}}" method="post">
            <button type="submit" class="btn btn-outline-danger">Apagar</button>
        </form>
      </div>
      <hr color="lightgray">
      <form class="showboxinfo" action="/requisition/edit/{{requisitions._id}}" method="get" >
        <p><font size="4" color="black">Data de Coleção: {{requisitions.datecollection}}</p>
        <p><font size="4" color="black">Concentração Detectada: {{requisitions.detectedConcetration}}</p>
        <p><font size="4" color="black">Origem: {{requisitions.origin}} </p>
        <p><font size="4" color="black">Laboratório: {{requisitions.lab}}</p>
        <p><font size="4" color="black">Destino: {{requisitions.destination}}</p>
        <p><font size="4" color="black">Fazenda: {{requisitions.farmname}}</p>
        <div class="text-center">
          <button type=submit class="btn btn-outline-success">Editar</button>
        </div>
      </form>
    </div>
  </div>
