<div class="">
  <div class="">
    <br>
    
    <hr color="lightgray">
    <form class="showboxinfo" action="/requisition/edit/{{requisitions._id}}" method="get">
      <p>
        <font size="4" color="black">Data de coleta: {{requisitions.datecollection}}
      </p>
      <p>
        <font size="4" color="black">Data de recebimento: {{requisitions.receivedquantity}}
      </p>
      <p>
        <font size="4" color="black">Origem: {{requisitions.origin}}
      </p>
      <p>
        <font size="4" color="black">Laboratório: {{requisitions.lab}}
      </p>
      <p>
        <font size="4" color="black">Destino: {{requisitions.destination}}
      </p>
      <p>
        <font size="4" color="black">Fazenda: {{requisitions.farmname}}
      </p>
      <p>
        <font size="4" color="black">Número da Autorização: {{requisitions.autorizationnumber}}
      </p>
      <div class="container-fluid">
        <button type="submit" class="btn btn-outline-success">Editar</button>
      </div>
    </form>
  </div>
</div>