<div class="requisition">
    <h4>Formulário facilitado de registro de requisição e amostras</h4>
    <h5 class="mt-4">Parte 2: Administrar amostras</h5>
</div>

<div class="col-md-12 d-flex flex-column align-items-center">

    <div class="d-flex form-row col-md-12 justify-content-center">
        <h5 class="mb-4 col-md-12">Preencha os valores e finalize as amostras</h5>
        <div class="col-md-12 d-flex flex-wrap">
            {{#each allSamples}}
                <form action="/requisition/specialpanel" method="post"
                    class="container-fluid panelCard col-md-5 my-1 p-2">
                    <h6 class="mt-3">Amostra: {{name}}</h6>
                    <div class="scroll">
                        {{#each toxins}}
                            <div class="col-md-12 card d-flex py-3 mb-2 flex-column">
                                <h6 class="align-self-start">{{name}}</h6>
                                <select required id="sample[{{name}}][kitId]" name="sample[{{name}}][kitId]"
                                    class="drowdownoptions" placeholder="Selecione o kit">
                                    <option disabled selected value="">Selecione um Kit para {{name}}
                                    </option>
                                    {{#each kits}}
                                        <option value="{{_id}}">[Lod: {{Lod}}; Loc: {{Loq}}] - {{productCode}} -
                                            {{productDescription}} -
                                            {{provider}}
                                        </option>
                                    {{/each}}
                                </select>
                                <div class="col-md-12 d-flex">
                                    <div class="requisition-text col-md-6">
                                        <input required type="text" name="sample[{{name}}][absorbance]"
                                            id="sample[{{name}}][absorbance]" class="requisition-text"
                                            placeholder="Absorvância 1" value="{{absorbance}}">
                                    </div>
                                    <div class="requisition-text col-md-6">
                                        <input required type="text" name="sample[{{name}}][absorbance2]"
                                            id="sample[{{name}}][absorbance2]" class="requisition-text"
                                            placeholder="Absorvância 2" value="{{absorbance2}}">
                                    </div>
                                </div>
                                <div class="requisition-text col-md-12">
                                    <input required type="text" name="sample[{{name}}][result]"
                                        id="sample[{{name}}][result]" class="requisition-text" placeholder="Resultado"
                                        value="{{result}}">
                                </div>
                                <div class="requisition-text col-md-12">
                                    <input required type="text" name="sample[{{name}}][resultChart]"
                                        id="sample[{{name}}][resultChart]" class="requisition-text"
                                        placeholder="Resultado no gráfico" value="{{resultChart}}">
                                </div>
                                <div class="requisition-text col-md-12">
                                    <input required type="text" name="sample[{{name}}][resultText]"
                                        id="sample[{{name}}][resultText]" class="requisition-text"
                                        placeholder="Resultado Final" value="{{resultText}}">
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="col-md-12 card d-flex py-3 mb-2 flex-column">
                        <h6 class="align-self-start">Configurações adicionais</h6>
                        <div class="requisition-text col-md-12">
                            <input type="text" name="sample[comment]" id="sampleComment" class="requisition-text"
                                placeholder="Comentário" value="{{comment}}">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Finalizar amostra</button>
                </form>
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascripts/dynamicPlaceHolder.js"></script>