<div class="requisition">
    <h4>Formulário facilitado de registro de requisição e amostras</h4>
    <h5 class="mt-4">Parte 1: Criar requisição</h5>
    <div class="col-md-12 mb-3 d-flex align-items-center justify-content-center">
        <a type="button" class="btn btn-primary" href="/requisition/specialpanel">Ir para parte 2</a>
    </div>
</div>
<form action="/requisition/specialnew" method="post" class="d-flex flex-column align-items-center">

    <div class="col-md-10 d-flex flex-column m-3">
        <h5 class="mb-4">Selecione o Usuário</h5>
        <div class="requisition-text col-md-12 d-flex align-items-center">
            <select required="required" id="adminUser" type="" name="requisition[user]" value=""
                class="drowdownoptions col-md-12" placeholder="Selecione o Usuário">
                <option disabled selected value="">Selecione o Usuário que vai fazer a requisição</option>
                {{#each users}}
                <option value="{{_id}}">{{fullname}} - {{type}} - {{email}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="col-md-10 m-3">
        <h5 class="mb-4">Campos da requisição especial</h5>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="specialNumber" type="number" name="requisition[specialNumber]" class="col-md-10"
                    placeholder="Número da requisição">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="specialYear" type="number" name="requisition[specialYear]" class="col-md-10"
                    placeholder="Ano da requisição">
            </div>
        </div>
    </div>

    <div class="col-md-10 m-3">
        <h5 class="mb-4">Dados de cobrança</h5>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="fullname" type="text" name="requisition[client][fullname]" class="col-md-10"
                    placeholder="Razão Social/Nome Completo">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="register" type="text" name="requisition[client][register]" class="col-md-10"
                    placeholder="CNPJ/CPF">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-12 requisition-text">
                <input required id="street" type="text" name="requisition[address][street]" class="col-md-10"
                    placeholder="Rua de endereço de Faturamento">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-4 requisition-text">
                <input required id="number" type="text" name="requisition[address][number]" value="" class="col-md-10"
                    placeholder="Nº">
            </div>
            <div class="col-md-4 requisition-text">
                <input id="complement" type="text" name="requisition[address][complement]" value="" class="col-md-10"
                    placeholder="Complemento">
            </div>
            <div class="col-md-4 requisition-text">
                <input required id="IE" type="text" name="requisition[address][IE]" class="col-md-10" placeholder="I.E">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="neighborhood" type="text" name="requisition[address][neighborhood]" value=""
                    class="col-md-10" placeholder="Bairro">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="city" type="text" name="requisition[address][city]" value="" class="col-md-12"
                    placeholder="Cidade">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <div class="col-md-12 d-flex align-items-center">
                    <select required id="state" class="drowdownoptions mt-3" name="requisition[address][state]">
                        <option disabled selected value="" id="defaultStateOption">Selecione um Estado</option>
                        {{#each allStates}}
                        <option value="{{initials}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="cep" type="text" name="requisition[address][cep]" value="" class="col-md-12"
                    placeholder="CEP">
            </div>
        </div>
    </div>

    <div class="col-md-10 m-3">
        <h5 class="mb-4">Dados de contato</h5>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="responsible" type="text" name="requisition[responsible]" class="col-md-10"
                    placeholder="Responsável pela amostra">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="email" type="email" name="requisition[client][email]" class="col-md-10"
                    placeholder="Email">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="phone" type="text" name="requisition[client][phone]" class="col-md-10"
                    placeholder="Telefone com DDD">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="cellphone" type="text" name="requisition[client][cellphone]" class="col-md-10"
                    placeholder="Celular com DDD">
            </div>
        </div>
    </div>

    <div class="col-md-10 m-3">
        <h5 class="mb-4">Requisição de Análise</h5>
        <div class="d-flex flex-row">
            <div class="col-md-5 requisition-text">
                <input required id="producer" type="text" name="requisition[producer]" class="col-md-10"
                    placeholder="Nome do produtor">
            </div>
            <div class="col-md-3 requisition-text">
                <input required id="autorizationnumber" type="text" name="requisition[autorizationnumber]"
                    class="col-md-10" placeholder="Número de Autorização">
            </div>
            <div class="requisition-text col-md-4">
                <select required id="destination" class="drowdownoptions mt-3" name="requisition[destination]">
                    <option disabled selected value="" id="defaultDestOption">Escolha a destinação do alimento</option>
                    {{#each allDestinations}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="reqCity" type="text" name="requisition[city]" class="col-md-10"
                    placeholder="Município">
            </div>
            <div class="col-md-6 requisition-text">
                <div class="col-md-12 d-flex align-items-center">
                    <select required id="reqState" class="drowdownoptions mt-3" name="requisition[state]">
                        <option disabled selected value="" id="defaultStateReqOption">Selecione um Estado</option>
                        {{#each allStates}}
                        <option value="{{initials}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-md-6 requisition-text">
                <input required id="datecollection" type="text" name="requisition[datecollection]" class="col-md-10"
                    placeholder="Data de Coleta (dd/mm/aaaa)">
            </div>
            <div class="col-md-6 requisition-text">
                <input required id="datereceipt" type="text" name="requisition[datereceipt]" class="col-md-10"
                    placeholder="Data de Recebimento (dd/mm/aaaa)">
            </div>
        </div>
    </div>

    <div class="col-md-10 m-3" id="samples">
        <h5 class="mb-4">Identificação de Amostra</h5>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Atenção!</strong> Deve ser informado junto ao nome da identificação se há ou não <strong>polpa
                cítrica</strong> na amostra
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="d-flex flex-column card col-md-12">
            <div class="col-md-12 d-flex flex-row">
                <div class="requisition-text col-md-4">
                    <input required type="text" name="requisition[sampleVector][1][name]" id="name[1]"
                        class="requisition-text" placeholder="Nome da amostra 1">
                </div>
                <div class="requisition-text col-md-4">
                    <input required type="number" name="requisition[sampleVector][1][samplenumber]" id="samplenumber[1]"
                        class="requisition-text" placeholder="Número da amostra 1">
                </div>
                <div class="requisition-text col-md-4">
                    <input required id="packingtype[1]" type="text" name="requisition[sampleVector][1][packingtype]"
                        class="col-md-10" placeholder="Tipo de embalagem">
                </div>
            </div>
            <div class="col-md-12 d-flex flex-row">
                <div class="col-md-6 d-flex requisition-text align-items-center">
                    <select id="sampletype[1]" class="drowdownoptions w-100"
                        name="requisition[sampleVector][1][sampletype]" required>
                        <option disabled selected value="" id="defaultSampleOption">Escolha o tipo do alimento</option>
                        {{#each allSampleTypes}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="requisition-text col-md-3">
                    <input required id="receivedquantity[1]" type="text"
                        name="requisition[sampleVector][1][receivedquantity]" class="requisition-text"
                        placeholder="Quantidade recebida (g)">
                </div>
                <div class="checkbox col-md-4 d-flex align-items-center m-0">
                    <input type="checkbox" id="citrus[1]" name="requisition[sampleVector][1][citrus]" value="true"
                        class="my-auto" />
                    <div class="ml-2">
                        Contém polpa cítrica
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex flex-row">
                <div class="requisition-text col-md-5">
                    <input id="receivedlimitdate[1]" type="text" name="requisition[sampleVector][1][limitDate]"
                        class="requisition-text" placeholder="Data Limite de Avaliação (dd/mm/yyyy)">
                </div>
                <div class="col-md-7 p-0 d-flex flex-row-reverse">
                    <div class="btn-polpa col-md-6 d-flex align-items-center justify-content-center">
                        <a id="add[1]" type="button" onclick="addInput()" style="color: white;"
                            class="btn btn-success ml-auto">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="requisition-text col-md-10 mt-3">
        <textarea class="requisition-text w-100" id="observations" name="requisition[comment]" placeholder="Observações"
            rows="4" /></textarea>
    </div>

    <div class="col-md-10 m-3">
        <h5 class="mb-4">Análises Solicitadas</h5>
        <div class=" d-flex flex-wrap col-md-12 align-items-center justify-content-center">
            <p>
                {{#each ToxinasAll}}
            <div class="col-md-4 d-flex flex-row m-1">
                <input class="mr-3" type="checkbox" name="requisition[mycotoxin]" value="{{Formal}}">
                <h6>{{Formal}}</h6>
            </div>
            {{/each}}
            </p>
        </div>
        <div class="col-md-12 mt-3">
            <strong>*A análise de deoxinivalenol em polpa cítrica (ou dietas que tenham este ingrediente em sua
                composição)
                requer purificação adicional - Destacar esta informação na amostra enviada!</strong>
        </div>
    </div>
    <div class="col-md-10 m-3">
        <button type="submit" class="btn btn-success">Criar nova requisição</button>
    </div>
</form>
{{!-- Input usado para buscar o vetor de usuários no JQuery depois --}}
<input hidden id="users" value="{{stringUsers}}" type="text/javascript" />
<script src="/javascripts/specialNewRequisition.js"></script>
<script src="/javascripts/dynamicPlaceHolder.js"></script>