<div class="requisition">
    <h4>Formulário facilitado de registro de requisição e amostras</h4>
    <h5 class="mt-4">Parte 2: Amostras</h5>
    <div class="col-md-12 mb-3 d-flex align-items-center justify-content-center">
        <a type="button" class="btn btn-primary" href="/requisition/specialnew">Voltar para parte 1</a>
    </div>
</div>

<div class="col-md-12 d-flex flex-column align-items-center">

    <div class="d-flex form-row col-md-12 justify-content-center">
        <h5 class="mb-4 col-md-12">Preencha os valores e finalize as amostras</h5>
        <div class="col-md-12 d-flex flex-wrap">
            {{#each allSamples}}
                <form action="/requisition/specialpanel" method="post"
                    class="container-fluid panelCard col-md-5 my-1 p-2">
                    <h6 class="mt-3">Amostra: {{name}}</h6>
                    <div class="scroll">
                        {{#each toxins}}
                            <div class="col-md-12 card d-flex py-3 mb-2 flex-column">
                                <h6 class="align-self-start">{{formal}}</h6>
                                <select required id="sample[{{full}}][kitId]_{{@../index}}"
                                    name="sample[{{full}}][kitId]" class="drowdownoptions"
                                    placeholder="Selecione o kit">
                                    <option disabled selected value="">Selecione um Kit para {{formal}}
                                    </option>
                                    {{#each kits}}
                                        <option value="{{_id}}">[LoD: {{Lod}}; LoC: {{Loq}}] - {{productCode}} -
                                            {{productDescription}} -
                                            {{provider}}
                                        </option>
                                    {{/each}}
                                </select>
                                <div class="requisition-text col-md-12">
                                    <input required type="text" name="sample[{{full}}][result]"
                                        id="sample[{{full}}][resultNumber]_{{@../index}}" class="requisition-text"
                                        placeholder="Resultado (Número ou NaN)">
                                </div>
                                <div class="requisition-text col-md-12">
                                    <input required type="number" name="sample[{{full}}][resultChart]"
                                        id="sample[{{full}}][resultChart]_{{@../index}}" class="requisition-text"
                                        placeholder="Valor no gráfico">
                                </div>
                                <div class="requisition-text col-md-12">
                                    <input required type="text" name="sample[{{full}}][resultText]"
                                        id="sample[{{full}}][resultText]_{{@../index}}" class="requisition-text"
                                        placeholder="Resultado no relatório">
                                </div>
                                <div
                                    class="requisition-text d-flex align-items-center justify-content-space-between col-md-12">
                                    <h6 class="m-0">Toxina detectada? </h6>
                                    <input type="checkbox" name="sample[{{full}}][wasDetected]"
                                        id="sample[{{full}}][checked]_{{@../index}}" value="true"
                                        class="checkbox col-md-4">
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="col-md-12 card d-flex py-3 mb-2 flex-column">
                        <h6 class="align-self-start">Configurações adicionais</h6>
                        <div class="d-flex">
                            <div class="requisition-text col-md-6">
                                <input required type="number" name="sample[sampleNumber]"
                                    id="sample[sampleNumber]_{{@../index}}" class="requisition-text"
                                    placeholder="Número da amostra" value="{{sampleNumber}}">
                            </div>
                            <div class="requisition-text col-md-6">
                                <input required type="number" name="sample[creationYear]" id="sample[creationYear]_{{@../index}}"
                                    class="requisition-text" placeholder="Ano da amostra" value="{{creationYear}}">
                            </div>
                        </div>
                        <div class="requisition-text col-md-12">
                            <input type="text" name="sample[comment]" id="sample[comment]_{{@../index}}"
                                class="requisition-text" placeholder="Comentário" value="{{comment}}">
                        </div>
                    </div>
                    <input hidden name="sample[_id]" id="_id_{{@../index}}" value={{_id}}>

                    <button type="submit" class="btn btn-success">Finalizar amostra</button>
                </form>
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascripts/dynamicPlaceHolder.js"></script>