<div>
   <div class="d-flex justify-content-between">
      <form class="col-2" action="/user" method="get">
        <button type="submit" class="btn btn-outline-success">Voltar</button>
      </form>
    </div>

  <div class="edit-requisition">
    <hr color="lightgray">
    <div class="requisition-titles">
      <p> Dados de Cobrança</p>
    </div>
    </br>
  </div>

  <form action="/requisition/useredit/{{requisition._id}}" id="reqEdit" method="post"
    class="d-flex flex-column align-items-center">
    <div id="keep-address" class="form-row col-md-10">
      <div class="requisition-text col-md-12">
        <input required id="fullname" type="text" name="requisition[charge][fullname]" value="{{requisition.charge.fullname}}"
          class="requisition-text" placeholder="Razão Social/Nome Completo">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="cpf" type="text" name="requisition[charge][cpfCnpj]" value="{{requisition.charge.cpfCnpj}}"
        class="requisition-text" placeholder="CNPJ/CPF">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="I.E" type="text" name="requisition[charge][IE]" class="requisition-text" placeholder="I.E" value="{{requisition.charge.IE}}">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="street" type="text" name="requisition[charge][street]" value="{{requisition.charge.street}}"
        class="requisition-text" placeholder="Rua de endereço de Faturamento">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="number" type="text" name="requisition[charge][number]" value="{{requisition.charge.number}}"
        class="requisition-text" placeholder="Nº">
      </div>
      <div class="requisition-text col-md-6">
      <input id="complement" type="text" name="requisition[charge][complement]"
        value="{{requisition.charge.complement}}" class="requisition-text" placeholder="Complemento">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="neighborhood" type="text" name="requisition[charge][neighborhood]"
        value="{{requisition.charge.neighborhood}}" class="requisition-text" placeholder="Bairro">
      </div>
      <div class="requisition-text col-md-6">
      <input required id="city" type="text" name="requisition[charge][city]" value="{{requisition.charge.city}}"
        class="requisition-text" placeholder="Cidade">
      </div>
      <div class="requisition-text col-md-2 d-flex align-items-center">
      <select id="userstate" class="drowdownoptions" name="requisition[charge][state]" required="required">
        <option disabled selected value="">Estado</option>
        {{#each allStates}}
        <option value="{{initials}}">{{name}}</option>
        {{/each}}
      </select>
      </div>
      <div class="requisition-text col-md-4">
      <input required id="cep" type="number" name="requisition[charge][cep]" value="{{requisition.charge.cep}}"
        class="requisition-text" placeholder="CEP">
    </div>
    <br/>
    <br/>
      <div class="requisition-titles mt-4 col-md-12">
        <p>Dados de contato</p>
      </div>
    <br/>
    <div class="requisition-text col-md-12">
      <input required id="resposible" type="text" name="requisition[contact][fullname]" class="requisition-text"
        placeholder="Responsável pela amostra" value="{{requisition.contact.fullname}}">
    </div>
    <div class="requisition-text col-md-6">
      <input required id="phone" type="text" name="requisition[contact][phone]" value="{{requisition.contact.phone}}"
        class="requisition-text" placeholder="Tel. com DDD">
    </div>
    <div class=" requisition-text col-md-6">
      <input required id="cellphone" type="text" name="requisition[contact][cellphone]" value="{{requisition.contact.cellphone}}"
        class="requisition-text" placeholder="Cel. com DDD">
    </div>
    <div class="requisition-text col-md-12">
      <input required id="email" type="text" name="requisition[contact][email]" value="{{requisition.contact.email}}"
        class="requisition-text" placeholder="Email">
    </div>
    </div>
    <br>
    <div class="requisition-titles">
      <p> Requisição de Análise</p>
    </div>
    <br>
    <div class="form-row col-md-10">
    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[analysis][producerName]" class="requisition-text"
        placeholder="Nome do cliente | Fazenda | Produtor" value="{{requisition.analysis.producerName}}">
    </div>
    <div class="requisition-text col-md-6">
      <input type="text" name="requisition[analysis][autorizationNumber]" class="requisition-text"
        placeholder="Número de Autorização" value="{{requisition.analysis.autorizationNumber}}">
    </div>
    <div class="requisition-text col-md-6">
      <input required type="text" name="requisition[analysis][city]" class="requisition-text" placeholder="Município" value="{{requisition.analysis.city}}">
    </div>
    <div class="requisition-text col-md-6 d-flex align-items-center">
      <select id="requisitonstate" class="drowdownoptions" name="requisition[analysis][state]" required="required" value="{{requisition.analysis.state}}">
        <option disabled selected value="">Estado</option>
        {{#each allStates}}
        <option value="{{initials}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="requisition-text col-md-12">
      <select required id="destination" class="drowdownoptions mt-3" name="requisition[analysis][destination]">
        <option disabled selected value="" id="defaultDestOption">Escolha a destinação do alimento</option>
        {{#each allDestinations}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
     </div>
    <div class="text-center mt-2">
      <button type="submit" id="submitAlterations" align="center" class="btn btn-outline-success">Salvar
        alerações</button>
    </div>
  </form>
</div>

<script>
  $(document).ready(function () {
    //Set select values
    let charge = "{{requisition.charge.state}}";
    $('select#userstate').val(charge);

    let analysis = "{{requisition.analysis.state}}";
    $('select#requisitonstate').val(analysis);

    let destination = "{{requisition.analysis.destination}}";
    $('select#destination').val(destination);

    let userId = "{{requisition.charge.user}}"
    $('select#analystUser').val(userId);
    
 });
</script>

<script src="/javascripts/dynamicPlaceHolder.js" ></script>