<div class="edit-requisition">
  <div class="row">
    <form class="col-2" action="/stock" method="get">
      <button type="submit" class="btn btn-outline-success">Voltar</button>
    </form>
    <div class="col-8">
      <font color="gray" size="5">{{kit.productCode}} ({{kit.kitType}})</font>
    </div>
    <form class="col-2" action="/stock/delete/{{kit._id}}" method="post">
      <button type="submit" class="btn btn-outline-danger">Apagar</button>
    </form>
  </div>
  <hr color="lightgray">
  <form action="/stock/edit/{{kit._id}}" method="post">
    <font size="4" color="black" class="d-flex flex-column col-lg-8" style="max-width: 700px;">
      <div class="d-flex flex-row justify-content-start align-items-center mt-2 w-100">
        <label class="col-4 text-right pr-0" for="1">Descrição do Produto:</label>
        <input class="stock-edit mx-2" id="1" type="text" style="width: 400px" value={{kit.productDescription}}
          name="productDescription">
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center mt-2 w-100">
        <label class="col-4 text-right pr-0" for="4">Fornecedor: </label>
        <input class="stock-edit mx-2" id="4" type="text" style="width: 400px" value={{kit.provider}} name="provider">
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center mt-2 w-100">
        <label class="col-4 text-right pr-0" for="2">Lod:</label>
        <input class="stock-edit mx-2" id="2" type="text" style="width: 50px" value={{kit.Lod}} name="Lod">
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center mt-2 w-100">
        <label class="col-4 text-right pr-0" for="3">Loq:</label>
        <input class="stock-edit mx-2" id="3" type="text" style="width: 50px" value={{kit.Loq}} name="LoQ">
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center mt-2 w-100">
        <label class="col-4 text-right pr-0" for="5">Data de Expiração:</label>
        <div class="mx-2">
          <input class="stock-edit" id="5" type="text" style="width: 30px" value={{kit.dayexpirationDate}}
            name="dayexpirationDate">/
          <input class="stock-edit" id="6" type="text" style="width: 30px" value={{kit.monthexpirationDate}}
            name="monthexpirationDate">/
          <input class="stock-edit" id="7" type="text" style="width: 50px" value={{kit.yearexpirationDate}}
            name="yearexpirationDate">
        </div>
      </div>

      <div class="text-center mt-4 ml-auto">
        <button type="submit" align="center" class="btn btn-outline-success">Enviar Alterações</button>
      </div>
    </font>
  </form>
</div>