<div class="edit-requisition">
  <div class="row">
    <form class="col-2" action="/stock" method="get">
      <button type="submit" class="btn btn-outline-success">Voltar</button>
    </form>
    <div class="col-8">
      <font color="gray" size="5">Kit {{kit.kitType}} ({{kit.toxin.sigle}})</font>
    </div>
    <form class="col-2" action="/stock/delete/{{kit._id}}" method="post">
      <button type="submit" class="btn btn-outline-danger">Apagar</button>
    </form>
  </div>

  <form action="/stock/edit/{{kit._id}}" class="d-flex flex-column align-items-center" method="post">
    <div class="col-md-10 m-3">
      <div class="d-flex flex-row">
        <div class="col-md-6 requisition-text">
          <input required id="kitDescription" type="text" name="kitDescription" class="col-md-10"
            placeholder="Descrição do Kit: " value="{{kit.kitDescription}}">
        </div>
        <div class="col-md-6 requisition-text">
          <input required id="provider" type="text" name="provider" class="col-md-10" placeholder="Fornecedor: "
            value="{{kit.provider}}">
        </div>
      </div>
    </div>
    <div class="col-md-10 m-3">
      <div class="d-flex flex-row">
        <div class="col-md-4 requisition-text">
          <input required id="lod" type="number" name="Lod" class="col-md-10" placeholder="Limite de detecção: "
            value="{{kit.Lod}}">
        </div>
        <div class="col-md-4 requisition-text">
          <input required id="loq" type="number" name="Loq" class="col-md-10" placeholder="Limite de quantificação: "
            value="{{kit.Loq}}">
        </div>
        <div class="col-md-4 requisition-text">
          <input required id="date" type="date" name="expirationDate" class="col-md-10"
            placeholder="Data de expiração: " value={{kit.time}}>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" align="center" class="btn btn-outline-success">Enviar Alterações</button>
    </div>
  </form>
</div>
<script src="/javascripts/dynamicPlaceHolder.js"></script>