<h4>Kits Disponíveis</h4>


<div class="col-sm-12 container-fluid mt-3">
  <div class="btn btn-abs">
    <button onClick="location.href='/stock/new'" type="submit"
      class="btn btn-success btn-sm">Cadastrar novo Kit</button>
  </div>

  <div class="table-responsive">
    <table id="tb-user" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Código Produto</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Validade</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each activeKits}}
          {{#compare deleted '0'}}
            <tr>
              <th>{{toxin.sigle}} Romer</th>
              <th>{{kitType}}</th>
              <th>{{kitDescription}}</th>
              <th>
                <div class="expirationDate{{color}}">
                  {{date}}/{{month}}/{{year}}
                </div>
              <th>{{amount}}</th>
              <th>
                <button onClick="location.href='stock/edit/{{_id}}'" class="fa fa-info btn m-1"></button>
              </th>
            </tr>
          {{/compare}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="table-responsive mt-4">
    <h4>Configuração de Estoques Mínimos</h4>
    <form action="/stock/setstock" method="post">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Toxina</th>
            <th>Estoque Atual</th>
            <th>Estoque Minimo Atual</th>
            <th>Novo Estoque Mínimo</th>
          </tr>
        </thead>
        <tbody>
          {{#each kitstocks}}
            <tr>
              <th>{{name}}</th>
              <th>{{currentSum}}</th>
              <th>{{minStock}}</th>
              <th>
                <input type="text" class="text-center" style="width: 90px" name={{name}} />
              </th>
            </tr>
          {{/each}}
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>
              <button type="submit" class="btn btn-success btn-sm">Enviar Alterações</button>
            </th>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="table-responsive mt-4">
    <h4>Kits arquivados</h4>
    <table id="tb-archived" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Código Produto</th>
          <th>Descrição</th>
          <th>Validade</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody id='tb-body-archived'>
        {{#each disabledKits}}
          <tr>
            <th>{{productCode}}</th>
            <th>{{productDescription}}</th>
            <th>
              <div class="expirationDate{{color}}">
                {{dayexpirationDate}}/{{monthexpirationDate}}/{{yearexpirationDate}}
              </div>
            <th>{{amount}}</th>
            <th>
              <button onClick="location.href='stock/edit/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      {{#for 1 number_of_pages 1}}
        <label class="btn btn-secondary {{#compare this 1 }} active {{/compare}}">
          <input type="radio" name="page" value="{{this}}" id="page{{this}}">
          {{this}}
        </label>
      {{/for}}
    </div>
  </div>

  <script src="/javascripts/stock.js"></script>