<h4>Lista de Usuários</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Email</th>
        <th>Devedor</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th>{{fullname}}</th>
          <th>{{type}}</th>
          <th>{{email}}</th>
          <th>
            {{#if debt}}
              <form action="/users/approvepayment/{{_id}}" method="post">
                <button type="submit" class="btn btn-danger" style="height: 20px;"></button>
              </form>
            {{else}}
              <form action="/users/approvepayment/{{_id}}" method="post">
                <button type="submit" class="btn btn-success" style="height: 20px;"></button>
              </form>
            {{/if}}
          </th>
          <th>
            <button onClick="location.href='/users/show/{{_id}}/%20'" class="fa fa-info btn m-1"></button>
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>