<h4>Lista de Analistas</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th onClick="location.href='/users/producers/{{_id}}'" class="th-users"> {{fullname}}</th>
          <th>{{cellphone}}</th>
          <th>{{email}}</th>
          <th>
            <button onClick="location.href='show/{{_id}}/managers'" class="fa fa-info btn"></button>
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>