<div class="d-flex">
  <form class="form-show-box d-flex flex-column" action="/users/edit/{{actualUser._id}}" method="post">
    <h1 class="form-show-title"> Visualização de Usuário</h1>
    <div class="d-flex flex-column">
      <div class="requisition-text col-md-12">
        <input type="text" value="{{actualUser.fullname}}" name="user[fullname]" class="" placeholder="Nome Completo">
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-6">
          <input type="text" value="{{actualUser.email}}" name="user[email]" class="" placeholder="Email">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.cellphone}}" name="user[cellphone]" class="" placeholder="Celular">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.phone}}" name="user[phone]" class="" placeholder="Telefone">
        </div>
      </div>
      <br>
      <div class="d-flex">
        <div class="col-md-3 mt-3">
          <div class="form-check form-check-inline">
            {{#if actualUser.persontype}}
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="0">
              <label class="radio-text form-check-label mr-3">CPF</label>
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="1" checked>
              <label class="radio-text form-check-label mr-3">CNPJ</label>
            {{else}}
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="0" checked>
              <label class="radio-text form-check-label mr-3">CPF</label>
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="1">
              <label class="radio-text form-check-label mr-3">CNPJ</label>
            {{/if}}
          </div>
        </div>
        <div class="requisition-text col-md-9">
          <input type="text" value="{{actualUser.register}}" name="user[register]" class="" placeholder="CPF ou CNPJ">
        </div>
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-6">
          <input type="text" value="{{actualUser.address.street}}" name="user[address][street]" class=""
            placeholder="Endereço">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.number}}" name="user[address][number]" class=""
            placeholder="Número">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.complement}}" name="user[address][complement]" class=""
            placeholder="Complemento">
        </div>
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-5">
          <input type="text" value="{{actualUser.address.city}}" name="user[address][city]" placeholder="Cidade">
        </div>
        <div class="requisition-text col-md-4 d-flex align-items-center">
          <select id="userstate" class="drowdownoptions ml-2" name="user[address][state]" required="required">
            <option disabled selected value="">Estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MT">Mato Grosso</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.cep}}" class="requisition-text" name="user[address][cep]"
            placeholder="CEP">
        </div>
      </div>

      <div class="d-flex">
        <div id="box-radio" class="col-md-12 ml-3" align="left">
          <div id="radio" class="form-check form-check-inline">
            <input id="Produtor-radio" class="form-check-input" type="radio" name="user[type]" value="Produtor">
            <label for="Produtor-radio" class="radio-text form-check-label mr-3">Produtor</label>

            <input id="Gerencia-radio" class="form-check-input" type="radio" name="user[type]" value="Gerencia">
            <label for="Gerencia-radio" class="radio-text form-check-label mr-3">Gerencia</label>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="form-show-typeahead col-md-15 form-disabled" id="producer-form">
          <label>Produtores associados</label>
          <div class="d-flex flex-row justify-content-space-between">
            <input id="producer-search" class="typeahead" type="text">
            <i class="fa fa-search"></i>
          </div>


          <select multiple id="selectproducers" class="drowdownoptions" name="producers" required="required">
            <option disabled selected value="">Gerentes</option>
            {{#each associatedList}}
              <option id="{{producer._id}}" value="{{producer._id}}">{{producer.fullname}} - {{producer.cellphone}} -
                {{producer.email}}
              </option>
            {{/each}}
          </select>


        </div>
      </div>

      <div class="d-flex">
        <div class="col-md-12 mt-3">
          <button class="btn mr-2" type="button" onclick="location.href='/users/{{returnRoute}}'"><i
              class="fa fa-reply"></i>
            Voltar</button>
          <button class="btn ml-2" type="submit"><i class="fa fa-pencil"></i>Alterar</button>
        </div>
      </div>
  </form>
</div>

<script>
  $('#box-radio').change(function () {

    $('#manager-form').addClass('form-disabled');
    $('#producer-form').addClass('form-disabled');

    if ($('#Gerencia-radio').is(':checked'))
      $('#producer-form').removeClass('form-disabled');
    else if ($('#Convenio-radio').is(':checked'))
      $('#manager-form').removeClass('form-disabled');

  });

  $(document).ready(function () {
    let userType = "{{actualUser.type}}";

    $(`input#${userType}-radio`).prop('checked', true);
    $('#box-radio').change();

    let userstate = "{{actualUser.address.state}}";
    $('select#userstate').val(userstate);
  });

</script>