<div class="d-flex">
  <form class="form-show-box d-flex flex-column" action="/users/edit/{{actualUser._id}}" method="post">
    <h1 class="form-show-title"> Visualização de Usuário</h1>
    <div class="d-flex flex-column">
      <div class="requisition-text col-md-12">
        <input type="text" value="{{actualUser.fullname}}" name="user[fullname]" class="" placeholder="Nome Completo">
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-6">
          <input type="text" value="{{actualUser.email}}" name="user[email]" class="" placeholder="Email">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.cellphone}}" name="user[cellphone]" class="" placeholder="Celular">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.phone}}" name="user[phone]" class="" placeholder="Telefone">
        </div>
      </div>
      <br>
      <div class="d-flex">
        <div class="col-md-3 mt-3">
          <div class="form-check form-check-inline">
            {{#if actualUser.persontype}}
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="0">
              <label class="radio-text form-check-label mr-3">CPF</label>
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="1" checked>
              <label class="radio-text form-check-label mr-3">CNPJ</label>
            {{else}}
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="0" checked>
              <label class="radio-text form-check-label mr-3">CPF</label>
              <input class="form-check-input position-static" type="radio" name="user[persontype]" value="1">
              <label class="radio-text form-check-label mr-3">CNPJ</label>
            {{/if}}
          </div>
        </div>
        <div class="requisition-text col-md-9">
          <input type="text" value="{{actualUser.register}}" name="user[register]" class="" placeholder="CPF ou CNPJ">
        </div>
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-6">
          <input type="text" value="{{actualUser.address.street}}" name="user[address][street]" class=""
            placeholder="Endereço">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.number}}" name="user[address][number]" class=""
            placeholder="Número">
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.complement}}" name="user[address][complement]" class=""
            placeholder="Complemento">
        </div>
      </div>
      <div class="d-flex">
        <div class="requisition-text col-md-5">
          <input type="text" value="{{actualUser.address.city}}" name="user[address][city]" placeholder="Cidade">
        </div>
        <div class="requisition-text col-md-4 d-flex align-items-center">
          <select id="userstate" class="drowdownoptions ml-2" name="user[address][state]" required="required">
            <option disabled selected value="">Estado</option>
            {{#each allStates}}
              <option value={{initials}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="requisition-text col-md-3">
          <input type="text" value="{{actualUser.address.cep}}" class="requisition-text" name="user[address][cep]"
            placeholder="CEP">
        </div>
      </div>

      <div class="d-flex">
        <div id="box-radio" class="col-md-12 ml-3" align="left">
          <div id="radio" class="form-check form-check-inline">
            <input id="Produtor-radio" class="form-check-input" type="radio" name="user[type]" value="Produtor">
            <label for="Produtor-radio" class="radio-text form-check-label mr-3">Produtor</label>

            <input id="Gerencia-radio" class="form-check-input" type="radio" name="user[type]" value="Gerencia">
            <label for="Gerencia-radio" class="radio-text form-check-label mr-3">Gerencia</label>

            <input id="Analista-radio" class="form-check-input" type="radio" name="user[type]" value="Analista">
            <label for="Analista-radio" class="radio-text form-check-label mr-3">Analista</label>

          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-md-12 mt-3">
          <button class="btn mr-2" type="button" onclick="location.href='/users/{{returnRoute}}'">
            <i class="fa fa-reply"></i>
            Voltar
          </button>
          <button class="btn ml-2 btn-success" type="submit">
            <i class="fa fa-pencil"></i>
            Salvar alterações
          </button>
        </div>
      </div>
  </form>

  <div class="d-flex flex-column mb-5" id="producer-div">
    {{#if hasAssociated}}
      <div class="form-show-typeahead col-md-15 form-disabled" id="producer-form">
        <h6 style="margin-top: 5vh">Produtores atualmente associados a {{actualUser.fullname}}:</h6>

        <table id="tb-admin" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nome do Produtor</th>
              <th>Status</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Celular</th>
              <th>CPF/CNPJ</th>
              <th>Remover</th>
            </tr>
          </thead>
          <tbody>
            {{#each associated}}
              <tr>
                <th>{{fullname}}</th>
                <th>{{status}}</th>
                <th>{{email}}</th>
                <th>{{phone}}</th>
                <th>{{cellphone}}</th>
                <th>{{register}}</th>
                <th>
                  <form action="/user/removeProducer/{{actualUser._id}}" method="post">
                    <input value="{{_id}}" name="producer" hidden="hidden" />
                    <button type="submit" class="fa fa-trash btn btn-default m-1" aria-hidden="true" />
                  </form>
                </th>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <h6 style="margin-top: 5vh">Nenhum produtor associado a esse gerente.</h6>
    {{/if}}

    <div>
      {{#if haveAvailable}}
        <div>
          <h6 style="margin-top: 5vh">Associar produtores a {{actualUser.fullname}}:</h6>
          <form action="/user/associateProducers/{{actualUser._id}}" method="post"
            class="d-flex flex-column align-items-center">
            <div class="col-md-12 d-flex align-items-center">
              <select multiple id="selectproducers" class="drowdownoptions" name="producers" required="required">
                {{#each producers}}
                  <option id="{{_id}}" value="{{_id}}">{{fullname}} - {{cellphone}} - {{email}}</option>
                {{/each}}
              </select>
              <div class="ml-3 btn-enviar p-0">
                <button type="submit" class="btn btn-outline-success">Associar</button>
              </div>
            </div>
          </form>
        </div>
      {{else}}
        <div>
          <h6 style="margin-top: 5vh">Não há produtores disponíveis para associar</h6>
        </div>
      {{/if}}
    </div>
  </div>



  <script>
    $('#box-radio').change(function () {

      $('#manager-form').addClass('form-disabled');
      $('#producer-form').addClass('form-disabled');
      $("#producer-div").children().hide();

      if ($('#Gerencia-radio').is(':checked')) {
        $('#producer-div').children().show();
        $('#producer-form').removeClass('form-disabled');
      }
      else if ($('#Convenio-radio').is(':checked'))
        $('#manager-form').removeClass('form-disabled');

    });

    $(document).ready(function () {
      let userType = "{{actualUser.type}}";

      $(`input#${userType}-radio`).prop('checked', true);
      $('#box-radio').change();

      let userstate = "{{actualUser.address.state}}";
      $('select#userstate').val(userstate);
    });

  </script>
  <script src="/javascripts/dynamicPlaceHolder.js"></script>