<form class="form-show-box" action="/sample/edit/{{sample._id}}?_method=PUT" method="post">
    <h1 class="form-show-title"> Visualização da Amostra</h1>
    <div>
      <div class="form-show-text col-md-12">
        <label for="sample[name]">Nome</label>
        <input disabled type="text" value="{{sample.name}}" name="sample[name]" class="input-placeholder-green" placeholder="Nome">
      </div>
      <div class="form-row">
        <div class="form-show-text col-md-6">
          <label for="sample[samplenumber]">Número da Amostra</label>
          <input disabled type="text" value="{{sample.samplenumber}}" name="sample[samplenumber]" class="input-placeholder-green" placeholder="Identificação">
        </div>
        <div class="form-show-text col-md-3">
          <label for="sample[status]">Situação</label>
          <input type="text" value="{{sample.status}}" name="sample[status]" class="input-placeholder-green">
        </div>
        <div class="form-show-text col-md-3">
          <label for="sample[responsable]">Responsável</label>
          <input type="text" value="{{sample.responsable}}" name="sample[responsable]" class="input-placeholder-green" placeholder="Analista Responsável">
        </div>
      </div>
    <div class="col-md-12 mt-3">
      <button class="btn mr-2" type="button" onclick="location.href='/queue'"><i class="fa fa-reply"></i>Voltar</button>
      <button class="btn ml-2" type="submit" ><i class="fa fa-pencil"></i>Alterar</button>
    </div>
</form>
